/* diff.css */
body {
    overflow: hidden;
}

/*** hidden - Start ***/
.hiddenX {
    max-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
    margin-right: 0px;
    overflow: hidden;
    transition: max-width 0.3s ease, opacity 0.3s ease, padding 0.3s ease !important;
}

.hiddenY {
    max-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease !important;
}

.hidden-zoom {
    opacity: 0 !important;
    transform: scale(0.33) !important;
    pointer-events: none;
}

.hidden-up {
    opacity: 0 !important;
    transform: scale(0.33) translateX(calc(-66px * 0.85 * (1 - 0.33))) !important;
    pointer-events: none;
    transition-delay: 0s !important;
}

.hidden-message {
    opacity: 0 !important;
    transform: translate(0%, 100%) !important;
}
/*** hidden - End ***/



/*** Icons - Start ***/
.icons16 {
    font-size: 16px !important;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.icons20 {
    font-size: 20px !important;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40;
}

.copy-btn > .icons20 {
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: scale(1);
}

.icons24 {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.icons26 {
    font-size: 26px !important;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 26;
}

.icons28 {
    font-size: 28px !important;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 28;
}

.icons36 {
    font-size: 36px !important;
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 36;
}

.icons72 {
    font-size: 72px !important;
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
}

.stretched {
    transform: scaleX(1.75);
}
/*** Icons - End */



/*** UI - Start ***/
/* NAV Overrides - Start */
.rightNav button.run-diff {
    height: 35px;
    padding: 0 7px 0 14px;
    font-size: 15px;
    align-items: center;
    gap: 2px;
}

.rightNav .button-box {
    border: none;
    padding: 0;
}

.body {
    align-items: stretch;
    flex-grow: 1;
    gap: 10px;
    overflow: hidden;
}

#tool {
    box-sizing: border-box;
    padding: 6px 1px 15px 15px;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    gap: 10px;
}


/* UI Sidebar - Start */
#sidebar {
    position: relative;
    width: 204px;
    flex-shrink: 0;
}

#sidebar-padding {
    height: 32px;
    transition: height 0.3s ease;
}

#sidebar-messages {
    position: absolute;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
    background-color: #D5D5D5F9;
    border-radius: 10px;
    padding: 4px 10px 4px 25px;
    box-sizing: border-box;
    transform: translate(calc(100% - 18px), 100%);
    max-width: none;
    align-self: flex-end;
    z-index: 1;
    width: 100%;
}

#sidebar-buttons {
    flex: 1;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #f9fafa;
    border-radius: 10px;
    padding: 10px 6px;
    z-index: 2;
    overflow: auto;
}

#sidebar-start { gap: 16px; }

#sidebar label {
    padding: 0 4px 1px;
    box-sizing: border-box;
}

.sidebar-labels {
    font-size: 10px;
    text-transform: uppercase;
    color: #676f7e;
}

#settings-box {
    gap: 8px;
    padding: 1px 0 0 4px;
}

.settings-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.settings-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 1px; left: 0; right: 0; bottom: -1px;
  background-color: #ddd;
  transition: background-color 0.3s;
  border-radius: 18px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: transform 0.3s;
  border-radius: 50%;
}

.settings-toggle input:checked + .slider {
  background-color: #3d95f5;
}

.settings-toggle input:checked + .slider::before {
  transform: translateX(18px);
}

.button-box {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1px;
    box-sizing: border-box;
}

.button-box button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 8px;
    background: #fff;
    border: none;
    border-radius: 6px;
    text-align: left;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    color: #17191C;
    opacity: 1;
    transition: background-color 0.3s, color 0.3s, max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.button-box button:hover {
    background-color: #f0f0f2;
}

.button-box button:active {
    background-color: #e1e2e5;
}

.button-box button *:not(:first-child) {
    color: #888;
}

.sticky-buttons {
    position: sticky;
    padding-top: 16px;
    gap: 8px;
}

#sidebar-reload {
    max-height: 40px;
}

button.run-diff {
    margin: 0 auto;
    background-color: #007bff;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 44px;
    width: 100%;
    font-size: 16px;
    line-height: 18.2px;
    font-weight: 500;
    gap: 4px;
}

button.run-diff:hover {
    background-color: #0056b3;
}

.button-box .run-diff span {
    color: #FFF;
}
/* UI Sidebar - End */


#tool-content {
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    gap: 2px;
    min-width: 0;
}


/* UI Editor Menu Bar - Start */
#editors {
    flex: 1;
    overflow:hidden;
}

#editor-menus {
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.editor-menu {
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 2px;
    flex: 1 1 0; 
    box-sizing: border-box;
}

.editor-menu>.menu-title {
    margin-top: 2px;
}

.editor-menu>.menu-title>label {
    font-size: 14px;
    font-weight: 600;
}

.editor-menu-buttons {
    align-items: center;
    margin-top: 1px;
}

.editor-menu-buttons button, .editor-menu-buttons label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000000;
    border-radius: 4px;
    color: #333;
    gap: 4px;
    font-size: 13px;
    padding: 3px 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, max-width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.editor-menu-buttons button:hover, .editor-menu-buttons label:hover {
    background-color: #e0e0e0;
    border: 1px solid #d0d0d0;
}

.editor-menu-buttons button:active, .editor-menu-buttons label:active {
    background-color: #d3d3d3;
    border-color: #ccc;
}

.editor-menu-buttons .copy-btn {
    position: relative;
    justify-content: unset !important;
    vertical-align: middle;
    width: 32px;
    height: 29px;
    padding: 3px 5px;
}

.editor-menu-buttons .upload-btn {
    font-size: 14px;
    padding: 3px 4px 3px 6px;
}

.upload-input {
    display: none;
}

.editor-menu-buttons .editor-button-label {
    padding-top: 1px;
    font-weight: 500;
}

.editor-menu-buttons #right-reload, .editor-menu-buttons #left-reload {
    max-width: 30px;
}

#scrollbar-spacer {
    margin-left: -10px;
    overflow: auto;
    scrollbar-gutter: stable;
}
/* UI Editor Menu Bar - End */


/* UI Editors - Start */
#editor-textbox {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#editor-inner {
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    height: 100%;
    overflow-x: hidden;
    border-radius: 5px;
    scrollbar-gutter: stable;
}

#editor-inner.nogap {
    gap: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

.editor {
    position: relative;
    flex: 1;
    min-width: 0;
    max-width: 50%;
}

.cm-instance {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-family: monospace;
    font-size: 13px;
    font-weight: 500;
}

.editor .drop-overlay {
    position: absolute;
    justify-content: center;
    align-items: center;
    inset: 0;
    color: #eee;
    background-color: #0000008a;
    border: 4px dashed #eee;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 24px;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    pointer-events: none
}

.editor .drop-overlay.active {
    opacity: 1;
}

.cm-editor {
    height: 100%;
}

.cm-editor.cm-focused {
    outline: 1px solid #aaa;
    border-radius: 5px;
}

.cm-gutters {
    border-radius: 5px 0 0 5px;
}

.cm-gutter {
    font-family: monospace;
}

.cm-selectionMatch {
    background-color: #11111111 !important;
    border-radius: 2px;
    border: 1px dotted #888;
    box-sizing: border-box
}
/* UI Editors - End */


/* Diff Results - Start */
.word-deleted {
    background-color: #E73D3F80;
    padding: 0 1px;
    border-radius: 2px;
}

.word-inserted {
    background-color: #05B97F80;
    padding: 0 1px;
    border-radius: 2px;
}

.line-deleted, div.cm-gutterElement:has(.gutter-line-deleted) {
    background-color: #FA9B9B33;
}

.line-inserted, div.cm-gutterElement:has(.gutter-line-inserted) {
    background-color: #7DE1BE33;
}

.line-dirty, div.cm-gutterElement:has(.gutter-line-dirty) {
    background-color: #FFD34440;
}

.line-newblock, div.cm-gutterElement:has(.gutter-line-newblock) {
    border-top: 2px solid #FFF;
}

.line-padding {
    background-color: #B4B4BE33;
}

.line-deleted.cm-activeLine, div.cm-gutterElement.cm-activeLineGutter:has(.gutter-line-deleted) {
    background-color: #F7636340;
}

.line-inserted.cm-activeLine, div.cm-gutterElement.cm-activeLineGutter:has(.gutter-line-inserted) {
    background-color: #1BCB8B40;
}

.line-dirty.cm-activeLine, div.cm-gutterElement.cm-activeLineGutter:has(.gutter-line-dirty) {
    background-color: #FFCD2B66;
}

.line-padding.cm-activeLine {
    background-color: #9B9BA740;
}
/* Diff Results - End */

#up {
    position: absolute;
    right: calc(-66px * 0.85);
    bottom: 11.5%;
    transform: translateX(0px);
    transition: transform 0.66s ease, opacity 0.3s ease, right 0.3s ease 0.45s;
}

#up:hover{
    transition-delay: 0s;
    right: -7px;
}

#scrollTop {
    background-color: #F7F7F7D9;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 8px 16px 5px 12px;
}

/*** UI - End ***/

@media (max-height: 720px) {
    #sidebar-padding {
        height: 0px;
        transition: height 0.3s ease;
    }

    #sidebar-messages {
        transform: translate(calc(100% - 18px), calc(100% - 32px));
    }

    .hidden-message {
        transform: translate(0%, calc(100% - 32px)) !important;
    }
}